*.class

.empty/*
archive/*
development/*
target/*

# Package Files #
*.jar
*.war
*.ear

/null/
/mbDevData/null/
/mbDevData/default.user@elseware.com/
/mbDevData/g01@doughmain.net/
/mbDevData/lex@doughmain.net/
/mbDevData/new.user@lcware.net/
/mbDevData/setup@testing.com/
/mbDevData/test.user@lcware.net/
/mbDevData/UniqueNewUser@lcware.net/
/.css/
/src/test/java/end2end/
